@font-face
  font-family 'tenor-sans-regular'
  font-display swap
  src url('/src/fonts/TenorSans-Regular.woff'), url('/src/fonts/TenorSans-Regular.woff2')

@font-face
  font-family 'maza-regular'
  font-display swap
  src url('/src/fonts/Maza-Regular.woff'), url('/src/fonts/Maza-Regular.woff2')
