$primary-font-family = 'maza-regular'
$secondary-font-family = 'tenor-sans-regular'
$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1360px
}
$color-white = #FFFFFF
$color-primary = #4888FF
$color-secondary = #F4F4F4
$color-dark = #343A3F
$color-grey = #D4D9DD
$color-accent = #D3D3D3
$color-purple-light = #CDBECD
$color-purple = #672870
$transition-time = 0.3s
