.app-menu-mobile
  &__list
    list-style none
    display flex
    flex-direction column
    gap 10px

  &__link
    position relative
    padding 12px 30px 12px 12px
    display flex
    align-items center
    gap 17px
    border-radius 6px
    background-color $color-secondary

  &__icon svg
    display block
    width 24px
    height 24px
    color #9EBEF9

  &__arrow
    width 24px
    height 24px
    position absolute
    right 6px
    top 0
    bottom 0
    margin auto
