.ui-input
  display block
  width 100%
  padding 13px 24px
  border 1px solid #DAE7FF
  border-radius 8px
  font-size 14px
  font-family $primary-font-family

  +above($breakpoints.lg)
    font-size 16px
